﻿@model TheOcdb.Models.VM.ComposeMessageViewModel

@{
    ViewBag.Title = "Compose";
}

@section breadcrumbs{
    <li><a href="@Url.Action("Index", "Mail")">Inbox</a>
        <i class="icon-angle-right"></i></li>
    <li>Compose</li>
}

@section styles{
    <link href="~/assets/css/pages/inbox.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-wysihtml5/wysiwyg-color.css" rel="stylesheet" />
    <link href="~/assets/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/assets/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script src="~/assets/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script src="~/assets/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="~/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script>
        jQuery(document).ready(function () {
            $('.inbox-wysihtml5').wysihtml5({
                "stylesheets": ["../assets/plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
            $('.inbox-wysihtml5').focus();

            //handle compose/reply cc input toggle
            $('.inbox-compose .mail-to .inbox-cc').live('click', function () {
                handleCCInput();
            });

            //handle compose/reply bcc input toggle
            $('.inbox-compose .mail-to .inbox-bcc').live('click', function () {
                handleBCCInput();
            });

            var handleCCInput = function () {
                var the = $('.inbox-compose .mail-to .inbox-cc');
                var input = $('.inbox-compose .input-cc');
                the.hide();
                input.show();
                $('.close', input).click(function () {
                    input.hide();
                    the.show();
                });
            };

            var handleBCCInput = function () {

                var the = $('.inbox-compose .mail-to .inbox-bcc');
                var input = $('.inbox-compose .input-bcc');
                the.hide();
                input.show();
                $('.close', input).click(function () {
                    input.hide();
                    the.show();
                });
            };

            jQuery('#msgSend').click(function () {
                if (jQuery('#composeForm').validate().form()) {
                    if (jQuery('#MailTo').val() === "" || jQuery('#UserMail_um_Message').val() === "") {
                        return false;
                    }
                    jQuery('#msgSend').hide();
                    jQuery('#sendLoader').show();
                    jQuery.ajax({
                        dataType: "json",
                        url: '@Url.Action("SendMessage", "Mail")',
                        type: 'POST',
                        data: { to: jQuery('#MailTo').val(), subject: htmlEncode(jQuery('#UserMail_um_Subject').val()), message: htmlEncode(jQuery('#UserMail_um_Message').val()) }
                    })
                    .done(function (msg) {
                        $("#compose-box").hide(function () {
                            $("#status").show();
                            $("#status").html("Message sent!");
                            setTimeout(function () {
                                window.location.href = "@Url.Action("Index", "Mail")";
                            }, 800);
                        });
                    })
                    .fail(function (msg) {
                    });
                }
                return false;
            });

            function htmlEncode(value) {
                //create a in-memory div, set it's inner text(which jQuery automatically encodes)
                //then grab the encoded contents back out.  The div never exists on the page.
                return $('<div/>').text(value).html();
            }

            function htmlDecode(value) {
                return $('<div/>').html(value).text();
            }

            jQuery('#composeForm').validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",
                rules: {
                    MailTo: {
                        required: true
                    },
                    MailSubject: {
                        required: true
                    }
                },

                messages: {
                    MailTo: {
                        required: "Email is required."
                    },
                    MailSubject: {
                        required: "Subject is required."
                    }
                },

                invalidHandler: function (event, validator) { //display error alert on form submit   

                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label.closest('.form-group').removeClass('has-error');
                    label.remove();
                },

                errorPlacement: function (error, element) {
                    error.insertAfter(element.closest('.input-icon'));
                },

                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
}

<div class="row inbox">
    <div class="col-md-2">
        <ul class="inbox-nav margin-bottom-10">
            <li class="compose-btn">
                <a href="@Url.Action("Compose", "Mail")" data-title="Compose" class="btn green">
                    <i class="icon-edit"></i>Compose
                </a>
            </li>
            <li class="inbox">
                <a href="@Url.Action("Index", "Mail")" class="btn" data-title="Inbox">Inbox(@Model.UserMailCount)</a>
                <b></b>
            </li>
            <li class="sent"><a class="btn" href="javascript:;" data-title="Sent">Sent</a><b></b></li>
            <li class="draft"><a class="btn" href="javascript:;" data-title="Draft">Draft</a><b></b></li>
            <li class="trash"><a class="btn" href="javascript:;" data-title="Trash">Trash</a><b></b></li>
        </ul>
    </div>

    <div class="col-md-10">
        <div id="status" style="display: none"></div>
        @*@using (Html.BeginForm("Compose", "Mail", FormMethod.Post))
        {
            *@
        <form id="composeForm">
            <div class="inbox-compose form-horizontal" id="compose-box">
                @*<div class="inbox-compose-btn">
                                                                        <button class="btn blue"><i class="icon-check"></i>Send</button>
                                                                        <button class="btn">Discard</button>
                                                                    </div>*@
                <div class="inbox-form-group mail-to">
                    <label class="control-label">To:</label>
                    <div class="controls controls-to">
                        @Html.TextBoxFor(model => model.MailTo, null, new { @class = "form-control col-md-12"})
                        @*<span class="inbox-cc-bcc">
                        <span class="inbox-cc">Cc</span>
                        <span class="inbox-bcc">Bcc</span>
                    </span>*@
                    </div>
                </div>
                <div class="inbox-form-group input-cc display-hide">
                    <a href="javascript:;" class="close"></a>
                    <label class="control-label">Cc:</label>
                    <div class="controls controls-cc">
                        <input type="text" name="cc" class="form-control">
                    </div>
                </div>
                <div class="inbox-form-group input-bcc display-hide">
                    <a href="javascript:;" class="close"></a>
                    <label class="control-label">Bcc:</label>
                    <div class="controls controls-bcc">
                        <input type="text" name="bcc" class="form-control">
                    </div>
                </div>
                <div class="inbox-form-group">
                    <label class="control-label">Subject:</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.UserMail.um_Subject, null, new { @class = "form-control", Name = "MailSubject" })
                    </div>
                </div>
                <div class="inbox-form-group">
                    @Html.TextAreaFor(model => model.UserMail.um_Message, new { @class = "inbox-editor inbox-wysihtml5 form-control", @rows = "12" })
                </div>
                <div class="inbox-compose-btn">
                    <button class="btn blue" id="msgSend"><i class="icon-check"></i>Send</button>
                    <div style="float: left; margin-left:24px; margin-right: 27px; margin-top: 4px; display: none" id="sendLoader">
                        <img src="~/assets/img/loading.gif" />
                    </div>
                    <button id="msgDiscard" class="btn">Discard</button>
                    <button id="msgDraft" class="btn">Draft</button>
                </div>
                @* }*@
            </div>
        </form>
    </div>
</div>
