﻿@model TheOcdb.Models.VM.MailViewModel
@{
    ViewBag.Title = "Mail";
}

@section breadcrumbs{
    <li>Inbox</li>
}

@section styles{
    <link href="~/assets/css/pages/inbox.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">

        jQuery(document).ready(function () {
            jQuery('#chkParent').change(function () {
                jQuery("#tableSorter span").each(function() {
                    jQuery(this).toggleClass("checked");

                    var checkbox = jQuery(this).find('input');

                    if (jQuery(checkbox).attr("checked")) {
                        jQuery(checkbox).removeAttr("checked");
                    } else {
                        jQuery(checkbox).attr("checked", "true");
                    }
                });
            });
        });

        function SelectedItem(object) {
            if (object.is(':checked')) {
                object.parents('tr').addClass('selected');

            } else {
                object.parents('tr').removeClass('selected');
            }
        }

        function DelMessages() {

            var s = 0;
            jQuery('#revList').html('');
            jQuery('input[type="checkbox"]:checked').each(function () {
                jQuery('#revList').append(',' + jQuery(this).val());
                s++;
            });

            var conf = confirm('Confirm deletion of [' + s + '] message(s)?');

            if (conf) {
                jQuery.ajax({
                        dataType: "json",
                        url: '@Url.Action("RemoveMessage", "Mail")',
                        type: 'POST',
                        data: { messageIdString: jQuery('#revList').html() }
                    })
                    .done(function (msg) {
                        window.console.log(msg);
                        //jQuery('#innerLoad').load('/user/mail');
                        jQuery('input[type="checkbox"]:checked').each(function () {
                            jQuery(this).parents('tr').fadeOut(function () {
                                jQuery(this).remove();
                                // do some other stuff here
                            });
                        });
                    })
                    .fail(function (msg) {
                        window.console.log(msg);
                    });
            } else {
                jQuery('#revList').html('');
                window.console.log('Cancelled Deletion');
            }
        }

        function ReadMessage() {
            jQuery('#revList').html('');
            jQuery('input[type="checkbox"]:checked').each(function () {
                jQuery('#revList').append(',' + jQuery(this).val());
            });

            jQuery.ajax({
                    dataType: "json",
                    url: '@Url.Action("MarkRead", "Mail")',
                    type: 'POST',
                    data: { messageIdString: jQuery('#revList').html() }
                })
                .done(function (msg) {
                    window.console.log(msg);
                    jQuery('input[type="checkbox"]:checked').each(function () {
                        // Update parent style
                        $(this).parent().parent().parent().parent().removeClass("unread");
                    });
                    jQuery('#revList').html('');
                })
                .fail(function (msg) {
                    window.console.log(msg);
                    jQuery('#revList').html('');
                });
        }

        function UnreadMessage() {
            jQuery('#revList').html('');
            jQuery('input[type="checkbox"]:checked').each(function () {
                jQuery('#revList').append(',' + jQuery(this).val());
            });

            jQuery.ajax({
                    dataType: "json",
                    url: '@Url.Action("MarkUnread", "Mail")',
                    type: 'POST',
                    data: { messageIdString: jQuery('#revList').html() }
                })
                .done(function (msg) {
                    window.console.log(msg);
                    jQuery('input[type="checkbox"]:checked').each(function () {
                        // Update parent style
                        $(this).parent().parent().parent().parent().addClass("unread");
                    });
                    jQuery('#revList').html('');
                })
                .fail(function (msg) {
                    window.console.log(msg);
                    jQuery('#revList').html('');
                });
        }
    </script>
}

<div class="row inbox">
    <div class="col-md-2">
        <ul class="inbox-nav margin-bottom-10">
            <li class="compose-btn">
                <a href="@Url.Action("Compose", "Mail")" data-title="Compose" class="btn green">
                    <i class="icon-edit"></i>Compose
                </a>
            </li>
            <li class="inbox active">
                <a href="javascript:;" class="btn" data-title="Inbox">Inbox(@Model.UserMailCount)</a>
                <b></b>
            </li>
            <li class="sent"><a class="btn" href="javascript:;" data-title="Sent">Sent</a><b></b></li>
            <li class="draft"><a class="btn" href="javascript:;" data-title="Draft">Draft</a><b></b></li>
            <li class="trash"><a class="btn" href="javascript:;" data-title="Trash">Trash</a><b></b></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="inbox-header">
            <h1 class="pull-left">Inbox</h1>
        </div>
        <div class="inbox-content">
            @if (Model.UserMails.Count > 0)
            {
                <table id="tableSorter" class="table table-striped table-advance table-hover">
                    <thead>
                        @if (Model.UserMails.Count > 0)
                        {
                            <tr>
                                <th colspan="3">
                                    <input type="checkbox" class="mail-checkbox mail-group-checkbox" id="chkParent">
                                    <div class="btn-group">
                                        <a class="btn btn-sm blue" href="#" data-toggle="dropdown">More
                                     <i class="icon-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick=" ReadMessage() "><i class="icon-pencil"></i>Mark as Read</a></li>
                                            <li><a href="#" onclick=" UnreadMessage() "><i class="icon-pencil"></i>Mark as Unread</a></li>
                                            <li><a href="#"><i class="icon-ban-circle"></i>Spam</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#" onclick=" DelMessages() "><i class="icon-trash"></i>Delete</a></li>
                                        </ul>
                                    </div>
                                </th>
                                <th class="pagination-control" colspan="3">
                                    <span class="pagination-info">1-30 of 789</span>
                                    <a class="btn btn-sm blue"><i class="icon-angle-left"></i></a>
                                    <a class="btn btn-sm blue"><i class="icon-angle-right"></i></a>
                                </th>
                            </tr>
                        }
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.UserMails.Count; i++)
                        {
                            if (Model.UserMails[i].um_MessageRead == 0)
                            {
                            <tr class="unread">
                                <td class="inbox-small-cells">
                                    <input type="checkbox" value="@Model.UserMails[i].um_ID" onchange="SelectedItem(jQuery(this))" class="checkbox"/>
                                </td>
                                <td class="inbox-small-cells"><i class="icon-star"></i></td>
                                <td class="view-message  hidden-xs"><a href="@Url.Action("Get", "User", new { @id = Model.UserMails[i].UsernameFrom })">@Model.UserMails[i].UsernameFrom</a></td>
                                <td class="view-message "><a href="@Url.Action("Message", "Mail", new { @id = @Model.UserMails[i].um_ID })" class="title msgLink">@Model.UserMails[i].um_Subject</a></td>
                                <td class="view-message  inbox-small-cells"><i class="icon-paper-clip"></i></td>
                                <td class="view-message  text-right" style="width: 200px;">
                                    <abbr class="time" title="@Model.UserMails[i].um_DateSent.ToString("o")">@Model.UserMails[i].um_DateSent.ToString("U")</abbr></td>
                            </tr>
                            }
                            else
                            {
                            <tr>
                                <td class="inbox-small-cells">
                                    <input type="checkbox" value="@Model.UserMails[i].um_ID" onchange="SelectedItem(jQuery(this))" />
                                </td>
                                <td class="inbox-small-cells"><i class="icon-star"></i></td>
                                <td class="view-message  hidden-xs"><a href="@Url.Action("Get", "User", new { @id = Model.UserMails[i].UsernameFrom })">@Model.UserMails[i].UsernameFrom</a></td>
                                <td class="view-message "><a href="@Url.Action("Message", "Mail", new { @id = @Model.UserMails[i].um_ID })" class="title msgLink">@Model.UserMails[i].um_Subject</a></td>
                                <td class="view-message  inbox-small-cells"><i class="icon-paper-clip"></i></td>
                                <td class="view-message  text-right" style="width: 200px;">
                                    <abbr class="time" title="@Model.UserMails[i].um_DateSent.ToString("o")">@Model.UserMails[i].um_DateSent.ToString("U")</abbr></td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
                <div id="status"></div>
                <div style="display: none" id="revList"></div>
            }
            else
            {
                <br />
                <span>You have no messages</span>
            }
        </div>
    </div>
</div>
