﻿@model TheOcdb.Models.VM.GetMessageViewModel

@{
    ViewBag.Title = "GetMessage";
}

@section breadcrumbs{
    <li><a href="@Url.Action("Index", "Mail")">Inbox</a>
        <i class="icon-angle-right"></i></li>
    <li>@Model.UserMail.um_Subject</li>
}

@section styles{
    <link href="~/assets/css/pages/inbox.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">

        function DelMessages() {

            var conf = confirm('Confirm deletion of this message?');

            if (conf) {
                jQuery.ajax({
                    dataType: "json",
                    url: '@Url.Action("RemoveMessage", "Mail")',
                    type: 'POST',
                    data: { messageIdString: '@Model.UserMail.um_ID' }
                })
                .done(function (msg) {
                    jQuery("#innerLoad").load('/user/Mail');
                })
                .fail(function (msg) {
                    jQuery("#innerLoad").load('/user/Mail');
                });
        } else {
            jQuery('#revList').html('');
            jQuery('#status').html('Cancelled Deletion');
        }
    }

    jQuery(document).ready(function () {

        jQuery(function () {

            jQuery('#msgMain').click(function () {
                jQuery("#innerLoad").load('/user/Mail');
            });

            jQuery('#msgReply').click(function () {
                jQuery("#innerLoad").load('/user/ComposeMessage/@Model.UserMail.um_ID');
            });
        });
    });
    </script>
}

<div class="row inbox">
    <div class="col-md-2">
        <ul class="inbox-nav margin-bottom-10">
            <li class="compose-btn">
                <a href="@Url.Action("Compose", "Mail")" data-title="Compose" class="btn green">
                    <i class="icon-edit"></i>Compose
                </a>
            </li>
            <li class="inbox">
                <a href="@Url.Action("Index", "Mail")" class="btn" data-title="Inbox">Inbox(@Model.UserMailCount)</a>
                <b></b>
            </li>
            <li class="sent"><a class="btn" href="javascript:;" data-title="Sent">Sent</a><b></b></li>
            <li class="draft"><a class="btn" href="javascript:;" data-title="Draft">Draft</a><b></b></li>
            <li class="trash"><a class="btn" href="javascript:;" data-title="Trash">Trash</a><b></b></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="inbox-header inbox-view-header">
            <h1 class="pull-left">@Html.Raw(HttpUtility.HtmlDecode(Model.UserMail.um_Subject)) <a href="#">Inbox</a></h1>
            <div class="pull-right"><i class="icon-print"></i></div>
        </div>


        <div class="inbox-view-info">
            <div class="row">
                <div class="col-md-7">
                    <span class="bold">@Model.UserMail.UsernameFrom</span> to <span class="bold">me</span> on @Model.UserMail.um_DateSent
                </div>
                <div class="col-md-5 inbox-info-btn">
                    <div class="btn-group">
                        <button class="btn blue reply-btn">
                            <i class="icon-reply"></i>Reply
                        </button>
                        <button class="btn blue  dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            @*<li><a href="#"><i class="icon-reply reply-btn"></i>Reply</a></li>
                            <li><a href="#"><i class="icon-arrow-right reply-btn"></i>Forward</a></li>
                            <li><a href="#"><i class="icon-print"></i>Print</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-ban-circle"></i>Spam</a></li>*@
                            <li><a href="#" onclick="DelMessages()"><i class="icon-trash"></i>Delete</a></li>
                            <li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="inbox-view">
            @Html.Raw(HttpUtility.HtmlDecode(Model.UserMail.um_Message))
        </div>
        <hr>
    </div>
</div>
