﻿@using TheOcdb.Infrastructure
@model TheOcdb.Models.VM.HomeViewModel
@{
    ViewBag.Title = "Home";
}

@section breadcrumbs{
}


<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="icon-envelope"></i>
            </div>
            <div class="details">
                <div class="number">
                    @Model.NewMessages
                </div>
                <div class="desc">
                    @String.Format(new PluralFormatProvider(), "{0:New Message;New Messages}", Model.NewMessages)
                </div>
            </div>
            <a class="more" href="@Url.Action("Index", "Mail")">View all <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="icon-comments"></i>
            </div>
            <div class="details">
                <div class="number">0</div>
                <div class="desc">
                    @String.Format(new PluralFormatProvider(), "{0:User;Users}", 0) Online
                </div>
            </div>
            <a class="more" href="@Url.Action("Chat", "Home")">Go to chat <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
   @* <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="icon-globe"></i>
            </div>
            <div class="details">
                <div class="number">+89%</div>
                <div class="desc">Brand Popularity</div>
            </div>
            <a class="more" href="#">View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="icon-bar-chart"></i>
            </div>
            <div class="details">
                <div class="number">12,5M$</div>
                <div class="desc">Total Profit</div>
            </div>
            <a class="more" href="#">View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>*@
</div>
